# Rename this file to .env.local and fill in your key
OPENAI_API_KEY=
DATABASE_URL="file:./dev.db"
GITHUB_ID=
GITHUB_SECRET=
NEXT_PUBLIC_BASE_URL=http://localhost:3000
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=
